body{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}
/*Navbar*/
.navbar-nav .fab{
    font-size: 1.5em;
    margin: 0 5px;
}
.navbar-nav{
    font-size: 1.5em;
}

.navbar-brand img{
    width: 100%;
}

.collapse ul li{
    /* font-size: 20px; */
}

.sps--abv{
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 15px;
}



.sps--blw{
    background-color: black;
    color: #fff;
}

.navbar.sps--abv .navbar-brand{
    /* background-color: red; */
    width: 300px;

}

/* .navbar-collapse.show li{
    /* background-color: gray;
    color: gray;
} */


/*Carousel*/
.carousel-caption{
    left: 15%;
    right: 0;
    top:40%;
    bottom: 20px;
    margin: auto;
    padding-top:20px;
    padding-bottom:20px;
    text-align: left;
}


.btn{
    background-color:transparent;
    border-color:#f8f9fa;
    border: 2px solid white;
    color: white;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}





.banner-video{
    background-image: url(/img/bg.jpg);
    position: relative;
    text-align: center;
    padding: 200px 0;
    /* background-size: cover; */
    background-size:auto;
    background-repeat: no-repeat;

    background-position: center center;
    /* background-attachment: fixed; */

}

.banner-video img{
    position: relative;
    width: 200px;
    height: 200px;
}




.footer{
    text-align: center;
    font-size: 2em;
}


@media(max-width:990px){
    .navbar-collapse.show .nav-link{
        /* color: white !important; */
        /* font-weight: bold; */
        color: #A40C0C;
        text-decoration: underline;
        font-weight: bold;
        
    }
}